.DS_Store
original pull/data/footage
original pull/data/set1
original pull/data/set2
python/data/logs
original pull/data/logs/70_weights_2018-11-16-15-07-15.h5
original pull/data/logs/130_weights_2018-11-29-11-09-43.h5
original pull/data/logs/157_weights_2018-12-03-14-14-46.h5